@import 'bootstrap/dist/css/bootstrap.css';
@import './mixins.styl'

$font-size = 14px // Example of variables

fonts = Helvetica, Arial, sans-serif

// Example of Hashes
flex = {
    display: flex,
    align-items: center,
    justify-content: space-between
}

body 
    font $font-size/1.4 fonts // Example of variables usage

.App
    text-align center

.App-header 
    {flex}
    background-color #282c34
    min-height 60px
    font-size 1rem
    padding 0 20px
    color white

.App-link 
    color #61dafb
    &:hover // parent references
    color: #fff

.App-content 
    padding 20px

.flex-grid 
    display flex
    justify-content space-between
    align-items center
    text-align left
    &.grid-header 
        background #ccc
        font-weight 600
        font-size $font-size    
    .list-col 
        display flex
        align-items center
        width 25%
        height 40px
        padding 0 10px   
    for colw in 1 .. 10 // Example of range and selector interpolation
        .list-col-{colw*10}
            width 10% * colw
    &.grid-content .list-col 
        border-bottom 1px solid #eee

.align-left
    text-align left

.required
    color red
    margin-left 3px

.link
    text-decoration underline
    color #0070d2
    cursor pointer

.form-check-input
    margin-top 0.25rem

/*
* Button css is implemented when you use button class
* for the element button add className="button"
*/
.button
    background #61dafb
    color black
    border none
    cursor pointer
    height 30px
    padding 0 15px
    margin-left 10px
    border-radius 100px // Example of interpolation and mixins, refer to mixins.styl
    &:hover 
        background rgba(darkturquoise, 0.5)
    &.secondary-button
        background: #cecece;
        &:hover
            background rgba(blue: 206, red: 206, alpha: 0.5, 206) // Example of keyword arguments